In [1]:
# Dependenciesd
import pandas as pd

In [2]:
# read file into a dataframe

vine_df = pd.read_csv("vine_df.csv")
vine_df

/opt/anaconda3/envs/PyData02/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1WBPB8MDCCN8F,5.0,0.0,0.0,N,N
1,R32M0YEWV77XG8,5.0,1.0,1.0,N,Y
2,RR8V7WR27NXJ5,1.0,0.0,0.0,N,Y
3,R1MHO5V9Z932AY,5.0,0.0,0.0,N,Y
4,R16PD71086BD2V,5.0,0.0,1.0,N,N
...,...,...,...,...,...,...
4850355,R1VERHFY08SLZS,1,6.0,8.0,N,N
4850356,R34TPFL5ZYSV46,3,21.0,29.0,N,N
4850357,R2YECHGBV291H,5,1.0,1.0,N,N
4850358,R2Z784CWN7JZ4X,2,3.0,4.0,N,N
4850359,R2J13W5P3N2KV4,4,18.0,19.0,N,N

In [3]:
# Step 1
vine_df_votes = vine_df.loc[vine_df["total_votes"] >= 20]
vine_df_votes

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
326,R1B4753QMTD8ON,5.0,32.0,32.0,N,N
662,R28BVHOEL6GCHZ,5.0,21.0,21.0,N,Y
1055,R27IB4BRKO71I0,2.0,16.0,20.0,N,Y
1225,RJ86OW12Y4NRL,5.0,124.0,128.0,N,Y
1448,R3KRABOWCH6ZE4,1.0,48.0,65.0,N,Y
...,...,...,...,...,...,...
4850347,R1KGFSPKL3YCGK,4,25.0,26.0,N,N
4850349,R15AZWCW5ZSFSN,5,157.0,160.0,N,Y
4850352,R1ZWVHA89AE49B,5,32.0,33.0,N,N
4850353,R115HJRM6FUVIC,5,27.0,27.0,N,N
4850356,R34TPFL5ZYSV46,3,21.0,29.0,N,N

In [4]:
# Step 2

vine_df_50 = vine_df_votes.loc[(vine_df_votes["helpful_votes"]/vine_df_votes["total_votes"]) >= 0.50]
vine_df_50

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
326,R1B4753QMTD8ON,5.0,32.0,32.0,N,N
662,R28BVHOEL6GCHZ,5.0,21.0,21.0,N,Y
1055,R27IB4BRKO71I0,2.0,16.0,20.0,N,Y
1225,RJ86OW12Y4NRL,5.0,124.0,128.0,N,Y
1448,R3KRABOWCH6ZE4,1.0,48.0,65.0,N,Y
...,...,...,...,...,...,...
4850347,R1KGFSPKL3YCGK,4,25.0,26.0,N,N
4850349,R15AZWCW5ZSFSN,5,157.0,160.0,N,Y
4850352,R1ZWVHA89AE49B,5,32.0,33.0,N,N
4850353,R115HJRM6FUVIC,5,27.0,27.0,N,N
4850356,R34TPFL5ZYSV46,3,21.0,29.0,N,N

In [6]:
# Step 3

paid_reviews = vine_df_50.loc[vine_df_50["vine"] == 'Y']

paid_reviews

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
5506,R32OMS1LSDRCOB,4.0,27.0,31.0,Y,N
24578,R2IPKK4I0XRCFR,4.0,16.0,21.0,Y,N
58364,RXYYJ8SGI9IX6,5.0,36.0,41.0,Y,N
63194,R1SAUBFC7T6JHC,5.0,73.0,75.0,Y,N
177724,R329HVJKKHWSG3,5.0,59.0,59.0,Y,N
...,...,...,...,...,...,...
4717565,R1WG2F3DZFE301,5.0,51.0,81.0,Y,N
4719313,R3VB53V1VDWPQ2,4,104.0,132.0,Y,N
4754150,RCKH2IYVH9PCG,4,21.0,21.0,Y,N
4770385,R1OR7JY4MQP6I7,5,181.0,188.0,Y,N
4770596,R34IO2BR3JWIIZ,4,17.0,20.0,Y,N

In [7]:
# Step 4
unpaid_reviews = vine_df_50.loc[vine_df_50["vine"] == 'N']

unpaid_reviews

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
326,R1B4753QMTD8ON,5.0,32.0,32.0,N,N
662,R28BVHOEL6GCHZ,5.0,21.0,21.0,N,Y
1055,R27IB4BRKO71I0,2.0,16.0,20.0,N,Y
1225,RJ86OW12Y4NRL,5.0,124.0,128.0,N,Y
1448,R3KRABOWCH6ZE4,1.0,48.0,65.0,N,Y
...,...,...,...,...,...,...
4850347,R1KGFSPKL3YCGK,4,25.0,26.0,N,N
4850349,R15AZWCW5ZSFSN,5,157.0,160.0,N,Y
4850352,R1ZWVHA89AE49B,5,32.0,33.0,N,N
4850353,R115HJRM6FUVIC,5,27.0,27.0,N,N
4850356,R34TPFL5ZYSV46,3,21.0,29.0,N,N

In [11]:
# Step 5
# paid 5 star

paid_5star = paid_reviews.loc[paid_reviews["star_rating"] == 5]["star_rating"].count()
paid_5star

133

In [12]:
# total paid
total_paid = paid_reviews["star_rating"].count()
total_paid

334

In [13]:
# unpaid 5 stars
unpaid_5star = unpaid_reviews.loc[unpaid_reviews["star_rating"] == 5]["star_rating"].count()
unpaid_5star

31806

In [14]:
total_unpaid = unpaid_reviews["star_rating"].count()
total_unpaid

61614